:root {
    --p-dark-violet: hsl(256, 26%, 20%);
    --p-grayish-blue: hsl(216, 30%, 68%);
    --n-very-dark-violet: hsl(270, 9%, 17%);
    --n-dark-grayish-violet: hsl(273, 4%, 51%);
    --n-very-light-gray: hsl(0, 0%, 98%);
}

* {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    margin: 0;
    color: var(--p-grayish-blue);
    text-align: center;
}

h1,
h2,
h3 {
    font-family: "DM Serif Display", serif;
    color: var(--p-dark-violet);
}

[class*="-btn"] {
    color: inherit;
    text-decoration: none;
    border: 1px solid var(--n-very-light-gray);
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 2rem 1rem;
    vertical-align: top;
}
nav ul {
    padding: 0;
    list-style-type: none;
}
nav li {
    cursor: pointer;
}
nav.top ul {
    position: absolute;
    right: 9999px;
    z-index: 2;
}

.landing {
    font-size: 0;
}

img.landing-img {
    display: block;
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
}

.landing-text {
    padding: 7rem 1rem;
    background-color: var(--p-dark-violet);
    color: var(--n-very-light-gray);
}
.landing-title {
    font-size: 3rem;
    margin: 0;
    line-height: 3rem;
    color: var(--n-very-light-gray);
}
.landing-desc {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 3rem;
}
.landing-btn {
}

.different {
    margin: 0 2.5rem;
    padding-top: 5rem;
}

.different hr {
    width: 30%;
}

.different-title {
    font-size: 3rem;
    margin-bottom: 4.5rem;
}

.card {
    margin-bottom: 3rem;
}

.card-title {
    font-size: 2rem;
}

.card-desc {
    line-height: 1.8rem;
}

.more {
    margin: 9rem 1rem;
    background-color: var(--p-dark-violet);
    color: var(--n-very-light-gray);
    padding: 4rem 2rem;
}

.more-title {
    color: inherit;
    font-size: 2.5rem;
    max-width: 300px;
    margin: 0 auto 2rem;
    line-height: 3rem;
}

.more-btn {
}

.social {
    position: relative;
    padding: 5rem 0 2.5rem;
    /* background-color: yellow; */
}

.social .logo {
    margin-bottom: 1.5rem;
}

.icons img {
    display: inline-block;
    margin-right: 0.7rem;
}

.social hr {
    position: absolute;
    bottom: 0;
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

nav.bottom {
    padding-top: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav.bottom section {
    margin-bottom: 2.5rem;
}
.nav-section-header {
    color: var(--n-dark-grayish-violet);
    font-family: inherit;
    margin-bottom: 2rem;
    font-size: 0.9rem;
}

.nav-section-item {
    color: var(--n-very-dark-violet);
    margin-bottom: 1rem;
    font-size: 0.9rem;
    font-weight: 700;
}

/* Button Click */
/* nav.top ul:target {
    right: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    display: block;
    z-index: 2;
}
nav.top ul:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
} */

@media (min-width: 700px) {
    body {
        width: 100%;
        text-align: left;
    }
    nav.top ul {
        position: static;
        margin: 0;
    }
    nav.top li {
        display: inline-block;
        text-transform: uppercase;
        color: var(--n-dark-grayish-violet);
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 0.8rem;
        margin-right: 1.5rem;
    }
    nav.top li:last-child {
        color: var(--n-very-dark-violet);
        text-decoration: none;
        border: 2px solid var(--n-very-dark-violet);
        padding: 0.5rem 2rem;
        margin: 0;
    }
    .hamburger {
        position: absolute;
        right: 9999px;
    }
    header {
        margin: 2rem auto;
        width: 85%;
    }

    .landing {
        display: flex;
        background-color: var(--p-dark-violet);
        padding-left: 10%;
        padding-right: 10%;
        position: relative;
        justify-content: space-between;
        min-height: 592px;
    }

    .landing-img,
    .landing-text {
        flex-basis: 50%;
        background-color: unset;
        position: relative;
        top: 90px;
    }
    .landing-text {
        order: -1;
        padding: 0;
        margin-right: 5%;
    }
    .landing-text:before {
        content: "";
        display: block;
        width: 25%;
        height: 2px;
        border-top: 1px solid var(--n-very-light-gray);
        position: relative;
        top: 0;
    }
    .landing-title {
        font-size: 4rem;
        line-height: 3.5rem;
        margin-bottom: 1.5rem;
        margin-top: 25%;
        letter-spacing: 1px;
        font-weight: 400;
    }
    .landing-desc {
        font-size: 1rem;
        color: var(--n-very-light-gray);
        margin-bottom: 2rem;
    }

    img.landing-img {
        position: relative;
        top: 15%;
        height: 100%;
        object-fit: cover;
        object-position: left;
    }

    .different {
        margin: 120px 10% 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .different hr {
        margin-left: 0;
        width: 13%;
    }

    .different-title {
        margin-top: 2rem;
        font-size: 3.8rem;
        flex-basis: 100%;
        font-weight: 400;
    }
    .card {
        flex-basis: 32%;
    }
    .card-title {
        font-size: 1.5rem;
    }
    .card-desc {
        font-size: 0.9rem;
    }

    .more {
        width: 80%;
        margin: 4rem auto 6rem;
        display: flex;
        align-items: center;
        padding: 4rem;
    }
    .more-title {
        font-size: 3.5rem;
        max-width: 500px;
        margin: 0;
        margin-right: auto;
        font-weight: 400;
    }
    .more-btn {
        text-align: right;
    }

    .social {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 0;
    }
    .social hr {
        width: 100%;
    }

    nav.bottom {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    nav.bottom section {
        flex-basis: 25%;
    }
}
