:root {
    --p-dark-violet: hsl(256, 26%, 20%);
    --p-grayish-blue: hsl(216, 30%, 68%);
    --n-very-dark-violet: hsl(270, 9%, 17%);
    --n-dark-grayish-violet: hsl(273, 4%, 51%);
    --n-very-light-gray: hsl(0, 0%, 98%);
}

* {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: "Karla", sans-serif;
    font-weight: 400;
}

h1,
h2,
h3 {
    font-family: "DM Serif Display", serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 2rem 1rem;
}

nav.top ul {
    position: absolute;
    right: 9999px;
}

img.landing-img {
    display: block;
    margin: 0 auto;
}
