:root {
    --p-dark-violet: hsl(256, 26%, 20%);
    --p-grayish-blue: hsl(216, 30%, 68%);
    --n-very-dark-violet: hsl(270, 9%, 17%);
    --n-dark-grayish-violet: hsl(273, 4%, 51%);
    --n-very-light-gray: hsl(0, 0%, 98%);
}

* {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: "Karla", sans-serif;
    font-weight: 400;
}

h1,
h2,
h3 {
    font-family: "DM Serif Display", serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 2rem 1rem;
}

nav.top ul {
    position: absolute;
    right: 9999px;
}

img.landing-img {
    display: block;
    width: 100%;
    max-width: 451px;
    margin: 0 auto;
}

.landing-text {
    padding: 4rem 1rem;
    text-align: center;
    background-color: var(--p-dark-violet);
    color: white;
}
.landing-title {
    font-size: 3rem;
    margin: 0;
    line-height: 3rem;
}
.landing-desc {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 3rem;
}
.landing-btn {
    color: inherit;
    text-decoration: none;
    border: 1px solid white;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
}
