:root {
    --p-strong-cyan: hsl(171, 66%, 44%);
    --p-light-blue: hsl(233, 100%, 69%);
    --n-dark-grayish-blue: hsl(210, 10%, 33%);
    --n-grayish-blue: hsl(201, 11%, 66%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 18px;
    text-align: center;
    color: var(--n-grayish-blue);
}

h1,
h2,
h3,
h4 {
    color: var(--n-dark-grayish-blue);
    margin: 0;
}

h1 {
    font-size: 30px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 26px;
}

img {
    width: 100%;
}
nav ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Download Buttons */

.downios-btn,
.downmac-btn {
    display: block;
    padding: 1rem;
    border-radius: 2rem;
    color: white;
}
.downios-btn {
    background-color: var(--p-strong-cyan);
    margin-bottom: 1.5rem;
}
.downmac-btn {
    background-color: var(--p-light-blue);
}

.logo img {
    width: 50%;
    max-width: 100px;
}

[class*="-desc"] {
    line-height: 1.8rem;
}

.bg-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* Feature */
/* Intro Div */
.intro {
    padding-top: 4rem;
    max-width: 700px;
    margin: 7rem auto;
    padding: 0 2rem;
}
.intro .logo {
    margin: 3rem;
}

.feature,
.sponsors,
.app-info {
    margin: 0 auto 7rem;
    padding: 0 2rem;
    max-width: 700px;
}

.intro-desc,
.app-info-desc {
    margin-bottom: 3rem;
}

.feature-desc {
    margin-bottom: 4rem;
}

.feature-img {
    margin-bottom: 4rem;
}

/* Mini-Features */
.mini-feature {
    margin-bottom: 4rem;
}
.mini-feature-desc {
    font-size: 17px;
}
.mini-feature-icon {
    width: 45px;
    margin: 2rem auto;
}

/* Sponsors */
.sponsor {
    width: 30%;
    margin: 3rem auto;
}

/* Footer */

footer {
    background-color: hsl(201, 11%, 96%);
    color: var(--n-dark-grayish-blue);
    padding: 3rem;
}
nav {
    margin-bottom: 3rem;
}
.nav-item {
    margin-bottom: 1.5rem;
}
nav .logo {
    margin-bottom: 2.5rem;
}
nav .logo img {
    max-width: 40px;
}

/* Social */

.social-icon {
    display: inline-block;
    width: 50px;
    margin-right: 1rem;
}

.social-icon a {
    display: inline-block;
    font-size: 28px;
}

@media (min-width: 900px) {
    .intro-title {
        font-size: 39px;
    }
    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 22px;
    }
    .feature {
        padding: 0 10%;
        max-width: 1600px;
    }
    .downios-btn,
    .downmac-btn {
        display: inline-block;
        padding: 1rem 2rem;
        margin-right: 1rem;
    }

    .feature.split {
        max-width: 1700px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-flow: row wrap;
        /* justify-content: space-around; */
    }

    .feature-title,
    .feature-desc {
        flex-basis: 100%;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    .split .feature-img {
        position: relative;
        left: -17%;
        flex-basis: 60%;
    }
    .feature-img {
        max-width: 900px;
        margin: 0 auto;
    }
    .feature-img img {
        width: 110%;
        height: 100%;
        object-fit: cover;
        object-position: right;
    }
    .split .mini-features {
        margin-top: 7%;
        flex-basis: 30%;
        text-align: left;
        margin-left: 1%;
        margin-right: 5%;
        position: relative;
        left: -5%;
    }

    .mini-features {
        margin: 0 auto;
        max-width: 1500px;
    }

    .workflow {
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .workflow .mini-feature {
        flex-basis: 32%;
    }

    .sponsors {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        max-width: 1500px;
    }
    .sponsor {
        flex-basis: 13%;
        max-width: 180px;
    }

    .main-footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }
    nav.bottom {
        margin: 0;
        text-align: left;
        flex-basis: 70%;
    }

    nav.bottom {
        display: flex;
        /* justify-content: space-around; */
    }
    nav.bottom .logo {
        margin: 0;
        width: 300px;
        /* flex-basis: 15%; */
    }
    nav.bottom .logo img {
        max-width: none;
        display: block;
        width: 70px;
        height: 70px;
        margin-left: 5rem;
        margin-right: auto;
    }

    nav.bottom .nav-items {
        margin: 0;
        flex-basis: 90%;
        max-width: 500px;
    }

    nav.bottom .nav-items {
        display: flex;
        flex-flow: column wrap;
        height: 70px;
    }
    nav.bottom .nav-item {
        margin: 5px 0;
        max-width: 300px;
    }
}
