* {
    box-sizing: border-box;
}

body,html {
    margin: 0;
    height: 100%;
}

.container {
    width: 100%;
    height:100%;
    position: relative;

}
.container img {
    display: none;
}
.container img.previous {
    position:absolute;
    left:-100%;

}
.container img.current, .container img.previous{
    display:inline-block;
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}

.container .arrow {
    display: block;
    content:"⬅︎";
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    position: absolute;
    font-size: 2rem;
    top: 45%;
    color: white;
    border: none;
    background-color: rgba(0,0,0,0.5);
}

.container .left {
    left:0;
}

.container .right {
    right:0;
}
