@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background: #181818;
    color: white;
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Login section  */

.login {
    flex-basis: 40%;
    height: 100vh;
    font-weight: 100;
}
.login .wrapper {
    width: 70%;
    margin: 0 auto;
}
.login input {
    border-radius: 2px;
    border: none;
    height: 2rem;
    width: 100%;
}
.login img {
    display: block;
    max-width: 100%;
    margin: 4rem auto 1rem;
}

.login .field {
    text-align: left;
    margin: 1.2rem auto 0;
}
.login input[type="button"] {
    display: block;
    margin: 1rem auto 0;
    background: #ff3c41;
    color: white;
    border: none;
    cursor: pointer;
}

.login .options {
    margin: auto;
}

/* .login .options hr {
    display: inline-block;
    width: 40%;
    margin: 0;
}
.login .options span {
    display: inline-block;
    width: 16%;
    margin: 0;
} */

/* Promo section */

.promo {
    flex-basis: 60%;
    height: 100vh;
    background: url(./img/login-bg.jpg);
    background-size: cover;
    background-repeat: no-repeats;
}
