:root {
    --p-dark-blue-1: hsl(217, 28%, 15%);
    --p-dark-blue-2: hsl(218, 28%, 13%);
    --p-dark-blue-3: hsl(216, 53%, 9%);
    --p-dark-blue-4: hsl(219, 30%, 18%);
    --a-cyan: hsl(176, 68%, 64%);
    --a-blue: hsl(198, 60%, 50%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    margin-top: 2rem;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-align: center;
    background-color: var(--p-dark-blue-2);
    color: #c0bebe;
}

h1,
h2,
h3,
h4 {
    font-family: "Raleway", sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    list-style-type: none;
}

img {
    width: 100%;
}

.intro-btn,
.access-btn {
    display: block;
    background: linear-gradient(to right, var(--a-cyan), var(--a-blue));
    padding: 1rem;
    border-radius: 2rem;
    width: 80%;
    margin: 0 auto;
    color: white;
}

/* Header */
.main-header {
    font-size: 0;
    margin: 0 1.7rem 2rem;
}
.top-nav,
.main-header .logo {
    display: inline-block;
}
.top-nav {
    width: 70%;
    text-align: right;
    font-size: 12px;
    vertical-align: 50%;
}
.main-header .logo {
    width: 30%;
    text-align: left;
}
.main-header .logo img {
    width: 80px;
}

.top-nav .nav-items {
    margin: 0;
}
.top-nav .nav-item {
    display: inline-block;
    margin-right: 18px;
}
.top-nav .nav-item:last-child {
    margin: 0;
}

/* Intro */
.intro {
    margin: 0 1.7rem 10rem;
}

.intro-img {
    margin-bottom: 2rem;
}

.intro-title {
    font-size: 1.5rem;
    line-height: 2rem;
}

.intro-desc {
    margin: 0 1.1rem 1.5rem;
    line-height: 1.2rem;
}

/* Features */
.features {
    margin: 0 1.7rem 10rem;
}
.feature {
    margin-bottom: 5rem;
}

.feature-icon {
    width: 50px;
    margin: 0 auto;
}

/* Productive */
.productive {
    text-align: left;
    margin: 0 1.7rem 10rem;
}
.productive-img {
    margin-bottom: 2rem;
}
.productive-title {
    font-size: 18px;
}
.productive-btn {
    color: var(--a-cyan);
    font-size: 14px;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--a-cyan);
}
.productive-btn span {
    font-size: 12px;
}
.productive-btn i {
    margin-left: 0.5rem;
}

/* Quotes */

.quotes {
    position: relative;
    text-align: left;
    padding: 0 0.5rem 20rem;
    margin: 0 1.7rem;
}
.quotes::before {
    display: block;
    content: "“";
    font-size: 5rem;
    line-height: 1.6rem;
    font-family: sans-serif;
    color: var(--a-cyan);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.quote {
    padding: 1rem;
    background-color: var(--p-dark-blue-4);
    font-size: 12px;
    margin-bottom: 1.5rem;
    border-radius: 8px;
}
.quote-text {
    margin-bottom: 1.5rem;
}
.quote-author::after {
    clear: both;
}
.quote-author-name {
    margin-bottom: 3px;
}
.quote-author-icon {
    float: left;
    width: 30px;
    margin-right: 5px;
}

.quote-author-icon img {
    border-radius: 50%;
}

.quote-author-desc {
    font-size: 8px;
}

/* Access */
main {
    position: relative;
}
.access {
    position: absolute;
    /* display: none; */
    bottom: -175px;
    margin: 0 1.7rem;
    padding: 2rem 1.2em;
    background-color: var(--p-dark-blue-1);
    border-radius: 8px;
}
.access-desc {
    margin-bottom: 2rem;
}
.access-input {
    padding: 1rem;
    border-radius: 2rem;
    width: 100%;
    margin: 0 auto;
    border: none;
    margin-bottom: 1.4rem;
}

.access-btn {
    width: 100%;
    border: none;
}

/* footer */

.main-footer {
    background-color: var(--p-dark-blue-3);
    padding: 240px 1.7rem 2rem;
}

.main-footer .logo {
    width: 50%;
    margin-bottom: 3rem;
}

.info {
    margin-bottom: 6rem;
}
.info-item {
    margin-bottom: 1rem;
}
.info-icon,
.info-desc {
    display: inline-block;
}
.info-icon {
    margin-top: 0.6rem;
    width: 12px;
    vertical-align: top;
    margin-right: 1rem;
}
.info-desc {
    width: 90%;
    text-align: left;
    font-size: 1rem;
}

.bottom-nav {
    text-align: left;
    font-size: 18px;
}

.bottom-nav .nav-item {
    margin-bottom: 1rem;
}

.bottom-nav .group1 {
    margin-bottom: 3rem;
}

.social {
    box-sizing: content-box;
    display: inline-block;
    margin-right: 0.7rem;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    line-height: 40px;
    border: 1px solid white;
    border-radius: 50%;
}

@media (min-width: 400px) {
    .top-nav {
        font-size: 1.2rem;
    }

    .main-header .logo img {
        width: auto;
        height: 35px;
    }
}

@media (min-width: 700px) {
    .intro-img {
        max-width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
    .intro-title {
        max-width: 65%;
        margin-left: auto;
        margin-right: auto;
        font-size: 2rem;
        line-height: 3rem;
    }
    .intro-desc {
        font-size: 1rem;
        line-height: 1.6rem;
    }
    .features {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .intro {
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .intro-img {
        margin-bottom: 4rem;
    }

    .intro-desc {
        margin-bottom: 2rem;
    }
    .main-header {
        margin-bottom: 5rem;
    }

    .access {
        left: 24%;
        right: 0;
        max-width: 50%;
    }

    .features {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .feature {
        flex-basis: 45%;
        margin-bottom: 6rem;
    }

    .feature-icon img {
        width: auto;
        height: 60px;
    }
    .feature-title {
        font-size: 1.2rem;
        margin-bottom: 0.7rem;
    }
    .feature-desc {
        line-height: 1.4rem;
    }
    .quote {
        font-size: 14px;
        padding: 2rem;
    }
    .quote-author-name {
        margin-bottom: 10px;
    }
    .quote-author-icon {
        width: 50px;
        margin-right: 10px;
    }
    .quote-author-desc {
        font-size: 12px;
    }
    .productive,
    .quotes {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .productive-content {
        flex-basis: 37%;
    }
    .productive-img {
        flex-basis: 57%;
    }

    .productive-title {
        margin-top: 10rem;
        font-size: 3rem;
    }
    .productive-desc {
        font-size: 15px;
    }

    .productive-btn {
        font-size: 1rem;
    }
    .quote {
        flex-basis: 30%;
    }

    .main-footer .logo img {
        width: 150px;
    }
    .main-footer {
        text-align: left;
        display: flex;
        flex-flow: row wrap;
    }

    .main-footer .info {
        display: flex;
        flex-flow: row wrap;
        flex-basis: 55%;
    }
    .nav-items {
        margin-top: 0;
    }
    .main-footer .bottom-nav {
        flex-basis: 30%;
        display: flex;
        justify-content: space-around;
        margin-top: 80px;
    }
    .main-footer .social {
        text-align: center;
        flex-basis: 15%;
        margin-top: 80px;
    }
    .main-footer .logo {
        flex-basis: 100%;
    }
    .info > li {
        flex-basis: 50%;
    }
    .info .contact {
        flex-basis: 50%;
    }
}
