/* Mobile First */
* {
    box-sizing: border-box;
}

:root {
    --p-soft-blue: hsl(231, 69%, 60%);
    --p-soft-red: hsl(0, 94%, 66%);
    --n-grayish-blue: hsl(229, 8%, 60%);
    --n-very-dark-blue: hsl(229, 31%, 21%);
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    text-align: center;
    background: white;
    color: var(--n-very-dark-blue);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

button {
    border: none;
    padding: 1rem 9px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

h2 {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}
.main-btn {
    background-color: var(--p-soft-blue);
    color: white;
}

.secondary-btn {
    background-color: hsl(229, 8%, 96%);
    color: var(--n-very-dark-blue);
}
.container {
    padding: 2rem;
}

/* Header */

.main_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.7rem;
}
.hamburger {
    text-align: right;
}
.hamburger_img,
.close_img {
    width: 18px;
}
.top_nav_items,
.close,
.main_logo {
    position: absolute;
    left: -9999px;
}
.top_nav_items {
    text-align: center;
}
/* Landing */
.landing {
    margin-bottom: 6rem;
}
.illustration {
    /* overflow: hidden; */
    flex-basis: 55%;
    position: relative;
    font-size: 0;
    padding-bottom: 2.5rem;
    margin-bottom: 3rem;
}
.landing_illustration_img {
    transform-origin: top;
    transform: scale(1.12);
    /* width: calc(100% + 3rem);
    position: relative;
    left: -1.5rem; */
}

.illustration_img {
    max-width: 600px;
}
.illustration_back {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 200px;
    width: 80%;
    background-color: var(--p-soft-blue);
}
.landing_illustration_back {
    max-width: 450px;
    margin-left: auto;
    right: -2rem;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
}

.landing_info_title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}

.desc {
    margin-bottom: 2rem;
    color: var(--n-grayish-blue);
    line-height: 1.7rem;
    font-size: 15px;
    padding: 0 5px;
}

.landing_info_btns {
    display: flex;
    justify-content: space-between;
}
.landing_info_btns button {
    flex-basis: 48%;
}

.features_info,
.download_info,
.faq_info {
    max-width: 500px;
    margin: 0 auto 4rem;
}
.features_menu {
    max-width: 700px;
    margin: 0 auto 5rem;
}
.features_menu_item {
    outline: none;
    padding: 1.2rem 0;
    font-weight: 400;
    font-size: 20px;
    display: block;
    width: 100%;
    background-color: white;
    color: var(--n-grayish-blue);
    border-radius: 0;
    border: none;
    border-top: 1px solid hsl(229, 8%, 80%);
    cursor: pointer;
}

.features_menu_item:last-child {
    border-bottom: 1px solid var(--n-grayish-blue);
}

.features_menu_item.selected {
    color: var(--n-very-dark-blue);
    position: relative;
}
.features_menu_item.selected::after {
    content: "";
    display: inline-block;
    height: 5px;
    width: 160px;
    background-color: var(--p-soft-red);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.feature_illustration_back {
    margin-right: auto;
    left: -2rem;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    max-width: 650px;
}

.features_item {
    display: none;
    margin-bottom: 5rem;
}

.features_item.selected {
    display: block;
}
.download {
    margin-bottom: 9rem;
}

.download_cards_item {
    background: white;
    border-radius: 0.8rem;
    padding: 5rem 0 2rem;
    margin: 0 1rem 3rem;
    box-shadow: 0px 12px 13px -5px rgba(175, 175, 175, 0.75);
}

.download_cards_item_img {
    width: 100px;
}
.desc {
    margin-top: 0;
}
.download_cards_item_title {
    margin-bottom: 0.5rem;
}
.download_cards_item_btn {
    margin: 0 2rem;
}
.dots {
    border-style: solid;
    border-width: 4px 0 0 0;
    border-image: url(../images/bg-dots.svg) 4 0 0 0 repeat;
    margin-bottom: 2rem;
}

/* .download_cards_item_btn {
    width: 220px;
} */
.faq {
    margin-bottom: 5rem;
}
.faq_qns {
    max-width: 600px;
    margin: 0 auto 3rem;
}
.faq_qns_item {
    border-bottom: 1px solid hsl(229, 8%, 80%);
    text-align: left;
    cursor: pointer;
}
.faq_qns_item_qn {
    font-weight: 400;
    font-size: 15px;
}
.faq_arrow {
    width: 20px;
    float: right;
    clear: both;
}
/* .faq_qns_item_answer{
    height: 120px;
    transition: height 0.5s ease 0s;
} */
.closed .faq_qns_item_answer {
    visibility: hidden;
    height: 0;
    margin: 0;
    line-height: 2rem;
    color: hsl(229, 8%, 40%);
}

.faq_btn {
    width: 120px;
}

.contact {
    background-color: var(--p-soft-blue);
    padding: 4rem 1rem;
    color: white;
}
.contact_ad,
.contact_title,
.contact_form {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.contact_ad {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 13px;
}
.contact_title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.contact_form_input,
.contact_form_btn {
    display: block;
    font-size: 15px;
    width: 88%;
    max-width: 350px;
    border-radius: 5px;
}
.contact_form_input {
    margin: 0 auto 1rem;
    padding: 1rem 1.2rem;
    border: none;
    font-family: "Rubik", sans-serif;
}

.contact_form_input::placeholder {
    font-size: 15px;
    color: hsl(229, 8%, 80%);
}
.contact_form_btn {
    display: block;
    margin: auto;
    width: 88%;
    background-color: var(--p-soft-red);
    color: hsl(229, 8%, 80%);
    font-size: 15px;
    padding: 15px 0;
}

.main_footer {
    background-color: var(--n-very-dark-blue);
    color: hsl(229, 8%, 80%);
    padding: 1rem 0;
}

.main_footer_logo_img {
    margin: 2rem 0;
}

.bottom_nav_items_item {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    padding-bottom: 1.8rem;
}

.social_icon {
    font-size: 2rem;
    color: white;
    margin: 1rem 0 2rem;
}
.fa-facebook-official {
    margin-right: 2rem;
}

.menu_social{
    display:none;
}

@media (min-width: 900px) {
    .container {
        padding-left: 6rem;
        padding-right: 4rem;
    }

    /* Header */
    .main_header {
        max-width: 1300px;
        margin-left: auto;
        padding-left: 2rem;
        margin-right: auto;
        padding-right: 2rem;
    }
    .hamburger {
        display: none;
    }
    .top_nav_items {
        /* left: auto; */
        /* right: 0; */
        position: static;
        display: flex;
        /* border: 1px solid red; */
        text-transform: uppercase;
        color: var(--n-very-dark-blue);
        font-size: 13px;
    }
    .top_nav_items_item {
        margin-right: 3rem;
    }
    .top_nav_items_item:last-of-type{
        margin-right:0;
    }
    .top_nav_link_red {
        background-color: var(--p-soft-red);
        color: white;
        padding: 10px 1.8rem;
        border-radius: 5px;
    }

    /* Landing */
    .landing {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .landing_info {
        order: -1;
        flex-basis: 40%;
        margin-left: 0;
        margin-right: auto;
        text-align: left;
        padding-right: 0rem;
    }
    .landing_info_title {
        font-size: 30px;
        line-height: 3.5rem;
    }
    .landing_info_desc {
        font-size: 1.1rem;
    }
    .landing_illustration {
        position: static;
        flex-basis: 48%;
        margin-left: auto;
        margin-right: 0;
    }
    .illustration_back {
        height: 300px;
    }
    .landing_illustration_back {
        border-top-left-radius: 9rem;
        border-bottom-left-radius: 9rem;
        right: -4rem;
        max-width: 345px;
    }
    .landing_info_btns {
        justify-content: start;
    }
    .landing_info_btns button:first-child {
        margin-right: 1.5rem;
    }
    .landing_info_btns button {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        width: 39%;
        max-width: 200px;
    }

    /* Features */
    .features_info,
    .faq_info {
        margin-bottom: 3rem;
    }
    .features_info_title,
    .download_info_title,
    .faq_info_title {
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }
    .features_info_desc,
    .download_info_desc,
    .faq_info_desc {
        font-size: 1rem;
        line-height: 1.8rem;
    }
    .features_menu {
        display: flex;
    }
    .features_menu_item:last-child {
        border: none;
        border-bottom: 1px solid hsl(229, 8%, 80%);
    }
    .features_menu_item {
        font-size: 1.2rem;
        border: none;
        border-bottom: 1px solid hsl(229, 8%, 80%);
        padding: 1.6rem 0;
    }

    .features_menu_item.selected::after {
        width: 100%;
    }
    .features_item {
        display: flex;
        margin: 0;
        /* justify-content: space-between; */
        text-align: left;
    }
    .features_item_info {
        flex-basis: 40%;
        padding-top: 1%;
        margin-bottom: 5rem;
    }
    .features_item_title {
        font-size: 2rem;
        margin-bottom: 1.4rem;
    }
    .features_item_desc {
        font-size: 1.1rem;
        line-height: 1.8rem;
        padding: 0;
    }
    .feature_illustration {
        margin-right: 5rem;
        padding-bottom: 5.5rem;
        margin-bottom: 0;
    }
    .feature_illustration_back {
        left: -10rem;
        border-top-right-radius: 9rem;
        border-bottom-right-radius: 9rem;
        height: 75%;
    }
    .features_item_btn {
        padding: 1rem 1.6rem;
    }
    .features_item {
        display: none;
    }
    .features_item.selected {
        display: flex;
    }
    /* Download */
    .download_info,
    .download_info_desc {
        margin-bottom: 1rem;
    }
    /* Download Cards */
    .download_cards {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }
    .download_cards_item:nth-child(2) {
        margin-top: 3rem;
    }
    .download_cards_item:nth-child(3) {
        margin-top: 6rem;
    }
    /* FAQ */
    .faq {
        margin-bottom: 11rem;
    }
    .faq_qns_item:first-child {
        border-top: 1px solid hsl(229, 8%, 80%);
    }
    .faq_qns_item_qn {
        font-size: 18px;
    }
    /* Contact */
    .contact_ad {
        margin-bottom: 2rem;
    }
    .contact_title {
        font-size: 1.8rem;
    }
    .contact_form {
        display: flex;
    }
    .contact_form_input {
        margin-bottom: 0;
        margin-right: 1rem;
    }
    .contact_form_btn {
        width: 150px;
        max-width: none;
        padding: 1rem;
    }
    /* Page Footer */
    .main_footer {
        padding: 2rem;
    }
    .main_footer,
    .bottom_nav_items {
        display: flex;
        align-items: flex-start;
    }
    .main_footer_logo_img,
    .bottom_nav_items_item,
    .social_icon {
        margin: 0;
        padding: 0;
    }
    .main_footer_header {
        flex-basis: 25%;
        margin-right: 3rem;
    }
    .bottom_nav {
        flex-basis: 50%;
        margin: auto 0;
    }
    .social {
        flex-basis: 25%;
        margin-left: 35%;
    }
    .bottom_nav_items_item {
        margin-right: 15%;
    }
    .social_icon:first-child {
        margin-right: 30%;
    }
    .main_footer_logo_img {
        transform: scale(1.1);
    }
}

@media (min-width: 1100px) {
    .landing_info_title {
        font-size: 2.4rem;
    }
    .landing_illustration_back {
        max-width: 450px;
    }
}

@media (min-width: 1125px) {
    .landing_info_title {
        font-size: 2.6rem;
    }
}

@media (min-width: 1200px) {
    .landing_info_title {
        font-size: 2.8rem;
    }
}

@media (max-width: 900px) {
    /* Nav Menu */

    .top_nav_items:target {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        color: white;
        z-index: 999;
        background-color: hsla(229, 31%, 21%, 0.98);
        padding: calc(2rem + 30px + 2.5rem) 2rem 0;
        text-transform: uppercase;
        font-size: 1.3rem;
        letter-spacing: 2px;
        color: hsl(229, 8%, 90%);
    }
    .top_nav_items:target .top_nav_items_item {
        max-width: 500px;
        margin: auto;
        padding: 1.3rem 0;
        border-top: 1px solid hsl(229, 10%, 42%);
        position: relative;
        z-index:1001;

    }
    .top_nav_items:target .top_nav_link_red {
        border: 2px solid white;
        padding: 10px 0;
        width: 100%;
        display: block;
        border-radius: 5px;
    }
    .top_nav_items:target ~ .hamburger {
        display: none;
    }
    .top_nav_items:target ~ .close {
        position: fixed;
        left: auto;
        z-index: 999;
        left: 90%;
    }
    .top_nav_items:target + .main_logo {
        left: 32px;
        z-index: 999;
        position:fixed;

    }
    .top_nav_items:target + .main_logo #main_logo_text,
    .top_nav_items:target + .main_logo #main_logo_icon circle {
        fill: white;
    }
    .top_nav_items:target + .main_logo #main_logo_icon path {
        fill: var(--n-very-dark-blue);
    }
    .top_nav_items:target .menu_social {
        display: initial;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index:1001;
    }

    .top_nav_items:target .overlay{
        width:100vw;
        height:100vh;
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        cursor: default;
    }
}

@media(max-height: 450px){
    .top_nav_items:target .menu_social {
        display: none;
    }
}