:root {
    --p-red: hsl(0, 100%, 68%);
    --n-very-dark-blue: hsl(230, 29%, 20%);
    --n-dark-grayish-blue: hsl(230, 11%, 40%);
    --n-grayish-blue: hsl(231, 7%, 65%);
    --n-light-grayish-blue: hsl(207, 33%, 95%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    overflow-x: hidden;
    color: var(--n-very-dark-blue);
}

h1,
h2,
nav li,
.preview-text,
.preview-btn,
.is-new,
.feature-name {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul.nav-items {
    position: absolute;
    right: 9999px;
}

/* Container */
.container {
    padding: 2rem 0 4rem;
}

.main-header {
    width: 100%;
    font-size: 0;
    margin-bottom: 10%;
    padding: 0 2rem;
}
.logo,
.main-nav {
    display: inline-block;
    width: 50%;
}
.main-nav {
    text-align: right;
}
.nav-item:hover {
    text-decoration: underline;
}
.hamburger img {
    height: 22px;
    vertical-align: 4px;
}

/* Mobile Navigation */
ul.nav-items {
    letter-spacing: 2px;
    padding: 0 2rem;
    text-align: center;
    text-transform: uppercase;
}
ul.nav-items:target {
    position: fixed;
    right: 2rem;
    left: 2rem;
    top: 6rem;
    font-size: 1.2rem;
    height: 280px;
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}
ul.nav-items:target .nav-item {
    display: inline-block;
    /* flex-basis: 24%; */
    /* line-height: 67px; */
}

ul.nav-items:target .nav-item:last-child {
    line-height: 50px;
    padding-top: 1rem;
    border-top: 1px solid var(--n-grayish-blue);
}
ul.nav-items:target + .hamburger {
    display: none;
}
ul.nav-items:target ~ .close-btn {
    position: fixed;

    right: 2rem;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
}
.close-btn {
    position: absolute;
    top: 38px;
    right: 9999px;
}
.close-btn img {
    height: 26px;
}

/* Mockup */
.mockup svg {
    width: 100%;
    margin-left: 6px;
    margin-bottom: 70px;
    height: 350px;
}

/* Feature */
.feature {
    padding: 2rem;
}
.is-new {
    background-color: var(--n-very-dark-blue);
    color: var(--n-light-grayish-blue);
    display: inline-block;
    font-size: 16px;
    width: 50px;
    padding: 2px 0;
    text-align: center;
    border-radius: 1rem;
    text-transform: uppercase;
    margin-right: 10px;
}

.feature-name {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--n-grayish-blue);
    font-size: 16px;
    letter-spacing: 4px;
    vertical-align: top;
    margin: 0;
}

.feature-title {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 1rem 0;
    line-height: 2.6rem;
}

.feature-desc {
    line-height: 1.8rem;
    font-size: 20px;
    color: var(--n-dark-grayish-blue);
    margin-top: 0;
}

.preview-btn,
.preview-text {
    display: inline-block;
}

.preview-btn {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 11px 17px;
    background-color: var(--p-red);
    color: var(--n-light-grayish-blue);
    border-radius: 5px;
    margin-right: 5px;
}
.preview-btn:hover {
    background-color: hsl(0, 100%, 76%);
}
.preview-text {
    text-transform: uppercase;
    font-weight: 400;
    color: var(--n-grayish-blue);
    letter-spacing: 2px;
    font-size: 14px;
    margin-left: 11px;
}

/* Overlay */

.overlay {
    background-color: var(--n-grayish-blue);
    opacity: 30%;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 4rem;
    width: 52%;
    height: calc(4rem + 420px);
}

@media (min-width: 1050px) {
    .overlay {
        height: 50%;
    }
    .container {
        margin-left: auto;
        width: 90%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .main-header,
    .overlay {
        flex-basis: 100%;
        order: -2;
    }
    .mockup,
    .feature {
        flex-basis: 50%;
    }
    .mockup svg {
        height: 420px;
    }
    .feature {
        order: -1;
        padding-right: 15%;
    }
    .is-new,
    .feature-name {
        font-size: 18px;
    }

    .feature-title {
        font-size: 3.5rem;
        line-height: 3.4rem;
        margin: 1.5rem 0 2rem;
    }
    .feature-desc {
        font-size: 16px;
        line-height: 22px;
        margin-right: 32%;
        margin-bottom: 4rem;
    }

    .preview-btn {
        letter-spacing: 2px;
    }
    .preview-text {
        letter-spacing: 4px;
    }

    /* Deconstruct Menu */
    ul.nav-items:target {
        position: static;
        display: block;
        height: auto;
        background-color: initial;
    }
    ul.nav-items:target .nav-item:last-child {
        border-top: none;
        line-height: normal;
    }
    ul.nav-items:target ~ .close-btn {
        display: none;
    }
    ul.nav-items {
        position: static;
        font-size: 18px;
        padding: 0;
    }
    .hamburger {
        display: none;
    }
    ul.nav-items .nav-item {
        display: inline-block;
        margin-right: 2rem;
        font-size: 16px;
    }
    nav li:last-child {
        color: var(--n-grayish-blue);
        margin-left: 4rem;
        margin-right: auto;
    }
}
