:root {
    --p-red: hsl(0, 100%, 68%);
    --n-very-dark-blue: hsl(230, 29%, 20%);
    --n-dark-grayish-blue: hsl(230, 11%, 40%);
    --n-grayish-blue: hsl(231, 7%, 65%);
    --n-light-grayish-blue: hsl(207, 33%, 95%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    overflow-x: hidden;
    color: var(--n-very-dark-blue);
}

h1,
h2,
nav li,
.preview-text,
.preview-btn,
.is-new,
.feature-name {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul.nav-items {
    position: absolute;
    right: 9999px;
}

/* Container */
.container {
    padding: 2rem 0 4rem;
}

header {
    width: 100%;
    font-size: 0;
    margin-bottom: 0;
    padding: 0 2rem;
}
.logo,
.main-nav {
    display: inline-block;
    width: 50%;
}
.main-nav {
    text-align: right;
}

.hamburger img {
    height: 22px;
    vertical-align: 4px;
}

/* Mobile Navigation */
ul.nav-items:target {
    right: 2rem;
    left: 2rem;
    top: 6rem;
    font-size: 1.2rem;
    letter-spacing: 2px;
    height: 280px;
    padding: 0 2rem;
    text-align: center;
    background-color: white;
    text-transform: uppercase;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}
ul.nav-items:target .nav-item {
    display: inline-block;
    /* flex-basis: 24%; */
    /* line-height: 67px; */
}

ul.nav-items:target .nav-item:last-child {
    line-height: 50px;
    padding-top: 1rem;
    border-top: 1px solid var(--n-grayish-blue);
}

.nav-item a {
    text-decoration: none;
    color: inherit;
}
.mockup svg {
    width: 100%;
    margin-left: 6px;
    height: 420px;
}

/* Feature */
.feature {
    padding: 2rem;
}
.is-new {
    background-color: var(--n-very-dark-blue);
    color: var(--n-light-grayish-blue);
    display: inline-block;
    font-size: 16px;
    width: 50px;
    padding: 2px 0;
    text-align: center;
    border-radius: 1rem;
    text-transform: uppercase;
    margin-right: 10px;
}

.feature-name {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--n-grayish-blue);
    font-size: 16px;
    letter-spacing: 4px;
    vertical-align: top;
    margin: 0;
}

.feature-title {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 1rem 0;
    line-height: 2.6rem;
}

.feature-desc {
    line-height: 1.8rem;
    font-size: 20px;
    color: var(--n-dark-grayish-blue);
    margin-top: 0;
}

.preview-btn,
.preview-text {
    display: inline-block;
}

.preview-btn {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 11px 17px;
    background-color: var(--p-red);
    color: var(--n-light-grayish-blue);
    border-radius: 5px;
    margin-right: 5px;
}

.preview-text {
    text-transform: uppercase;
    font-weight: 400;
    color: var(--n-grayish-blue);
    letter-spacing: 2px;
    font-size: 14px;
    margin-left: 11px;
}

/* Overlay */

.overlay {
    background-color: var(--n-grayish-blue);
    opacity: 30%;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 4rem;
    width: 52%;
    height: calc(4rem + 420px);
}
