body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #926239;
    background-color: whitesmoke;
}
article {
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.landing {
    background: url(./img/beachshowcase.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.landing-title {
    font-size: 2.5rem;

    margin: 0;
}

.landing-desc {
    margin-top: 0.7em;
}

.landing .btn {
    border: 1px solid #926239;
    text-decoration: none;
    color: #926239;
    padding: 0.8rem;
    border-radius: 10px;
    margin-top: 0.7rem;
}

.more .larger {
    text-align: center;
    padding: 1rem;
}

.more .reverse-color {
    background-color: #926239;
    color: white;
}

.more .columns {
    display: flex;
    flex-flow: row wrap;
}
.more .smaller {
    margin: 0;
    flex-basis: 31.33%;
    padding: 1%;
}
