:root {
    /* Primary */
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    /* --instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%) */
    --youtube: hsl(348, 97%, 39%);

    /* DARK THEME */

    /* - Toggle */
    --dark-toggle: linear-gradient(
        to right,
        hsl(210, 78%, 56%),
        hsl(146, 68%, 55%)
    );

    /* BG */
    --dark-bg: hsl(230, 17%, 14%);
    /* (Top BG Pattern) */
    --dark-top-bg: hsl(232, 19%, 15%);
    /* (Card BG) */
    --dark-card-bg: hsl(228, 28%, 20%);
    /* Card Hover BG */
    --dark-hover-bg: hsl(228, 28%, 22%);

    /* (Text) */
    --dark-text-1: hsl(228, 34%, 66%);
    --dark-text-2: hsl(0, 0%, 100%);

    /* LIGHT THEME */

    /* Toggle */
    --light-toggle: hsl(230, 22%, 74%);
    /* (BG) */
    --light-bg: var(--white);
    /* (Top BG Pattern) */
    --light-top-bg: hsl(225, 100%, 98%);
    /* (Card BG) */
    --light-card-bg: hsl(227, 47%, 96%);
    /* Card Hover BG */
    --light-hover-bg: hsl(227, 47%, 94%);
    /* Text */
    --light-text-1: hsl(228, 12%, 44%);
    --light-text-2: hsl(230, 17%, 14%);

    /* DEFAULT - ON LIGHT MODE */
    --bg: var(--light-bg);
    --top-bg: var(--light-top-bg);
    --text-1: var(--light-text-1);
    --text-2: var(--light-text-2);
    --card-bg: var(--light-card-bg);
    --hover-bg: var(--light-hover-bg);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: var(--top-bg);
    color: var(--text-1);
    font-size: 14px;
}

body.dark {
    /* --top-bg-pattern: var(--very-dark-blue); */
}

/* Container */

.container {
    width: 90%;
    margin: 2rem auto 4rem;
}

/* Main Header */

.main-title,
.followers {
    margin: 0;
}

.main-title {
    color: var(--text-2);
    font-size: 1.7rem;
    margin-bottom: 0.4rem;
}

.followers {
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1rem;
}

/* Main Items */
.main-item {
    width: 100%;
    background-color: var(--card-bg);
    padding: 2rem;
    margin-bottom: 4rem;
    border-radius: 0.3rem;
    position: relative;
    cursor: pointer;
}
.main-item:hover {
    background-color: var(--hover-bg);
}

.main-item.facebook {
    border-top: 4px solid var(--facebook);
}
.main-item.twitter {
    border-top: 4px solid var(--twitter);
}
.main-item.instagram::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 4px;
    width: 100%;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    background: linear-gradient(
        to right,
        hsl(37, 97%, 70%),
        hsl(329, 70%, 58%)
    );
}
.main-item.youtube {
    border-top: 4px solid var(--youtube);
}
.social,
.count,
.unit {
    text-align: center;
}
.social-icon,
.social-account {
    display: inline-block;
    vertical-align: top;
}

.social-account {
    margin-left: 0.5rem;
    font-weight: 700;
}

.count {
    color: var(--text-2);
    font-size: 4rem;
    font-weight: 700;
    margin: 1rem 0 0;
}

.unit {
    margin: 0;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}
/* Main Items - UPDATE DIV */
.update {
    text-align: center;
}
.dir-icon {
    display: inline-block;
    margin-right: 0.3rem;
    vertical-align: 2px;
}
.dir-icon img {
    height: 4px;
}

.update-text {
    font-weight: 700;
    color: var(--lime-green);
}
.update-text.down {
    font-weight: 700;
    color: var(--bright-red);
}

/* Overview Section */

.overview-title {
    font-size: 1.7rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

/* Overview Section - Overview Item */

.overview-item {
    background-color: var(--card-bg);
    padding: 2rem;
    font-size: 0;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.overview-item:hover {
    background-color: var(--hover-bg);
}
.overview-item header {
    margin-bottom: 2rem;
}
.overview-item-title,
.overview-item .social-icon {
    display: inline-block;
    width: 50%;
}
.overview-item-title {
    font-size: 1rem;
    margin: 0;
}
.overview-item .social-icon {
    text-align: right;
}
.overview-item .social-icon img {
    height: 25px;
}
.numbers {
    font-size: 0;
}
.numbers > span,
.numbers .update {
    display: inline-block;
    font-size: initial;
    width: 50%;
}
.numbers .update {
    text-align: right;
}

.numbers .value {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-2);
}

/* TOGGLE SWITCH */

/* Theme Switcher */
.switcher {
    width: 100%;
    font-size: 0;
    font-weight: 700;
    margin: 1rem 0 2rem;
}
.switcher-title,
.toggle {
    display: inline-block;
    width: 50%;
}

.switcher-title {
    font-size: 1rem;
    text-align: left;
    margin: 0;
    vertical-align: 4px;
}

.toggle {
    text-align: right;
    vertical-align: sub;
    --slider-size: 18px;
    --toggle-padding: 3px;
    --space: 0px;
}
.toggle .slider {
    display: inline-block;
    width: calc(
        var(--slider-size) * 2 + var(--toggle-padding) * 2 + var(--space)
    );
    height: calc(var(--slider-size) + var(--toggle-padding) * 2);
    position: relative;
    border-radius: 14px;
    cursor: pointer;
}

.slider::before {
    content: "";
    display: block;
    position: absolute;
    height: var(--slider-size);
    width: var(--slider-size);
    top: var(--toggle-padding);
    left: var(--toggle-padding);
    background-color: hsl(228, 28%, 40%);
    border-radius: 50%;
    transition: transform 0.3s;
}
.toggle .slider {
    background: var(--dark-toggle);
}
.toggle input:checked + .slider:hover {
    background: var(--dark-toggle);
}
.toggle input:checked + .slider {
    background: var(--light-toggle);
}
.toggle input:checked + .slider:before {
    transform: translateX(calc(var(--slider-size) + var(--space)));
    background-color: white;
}
.toggle input:focus + .slider {
    box-shadow: 0 0 2px hsl(146, 68%, 55%);
}
.toggle input {
    width: 0;
    height: 0;
}

@media (min-width: 750px) {
    .main-item {
        padding: 1rem;
    }
    .main-item .count {
        font-size: 2rem;
    }
    .main-item .unit {
        letter-spacing: 0.2rem;
    }
    .numbers .value {
        font-size: 1.5rem;
    }
    .overview-item {
        padding: 1rem;
    }
    .overview-item header {
        margin-bottom: 2rem;
        height: 3rem;
    }

    .numbers .update {
        font-size: 0.8rem;
    }
    .main-items,
    .overview {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        --flex-margin: 2%;
        --columns: 4;
    }
    .main-item,
    .overview-item {
        flex-basis: calc((100% - (3 * var(--flex-margin))) / var(--columns));
        /* margin-right: var(--flex-margin); */
    }
    .main-item:last-child,
    .overview-item:nth-of-type(4n) {
        margin-right: 0;
    }
    .overview-title {
        margin-right: 0;
        flex-basis: 100%;
    }
    .switcher {
        width: 100%;
        text-align: right;
    }
    .switcher-title,
    .toggle {
        width: auto;
    }
    .toggle {
        margin-left: 0.8rem;
        --space: 3px;
    }
}

@media (min-width: 1100px) {
    .main-item {
        padding: 2rem;
    }
    .main-item .count {
        font-size: 3rem;
    }
    .main-item .unit {
        letter-spacing: 0.4rem;
    }
    .numbers .value {
        font-size: 2.5rem;
    }
    .numbers .update {
        font-size: 1rem;
    }
}
