:root {
    /* ### Primary */

    /* #### Text  */
    /* - Pale Violet (sub-heading at the top of the app UI)  */
    --p-pale-violet: hsl(276, 100%, 81%);
    /* - Moderate Violet (chat on the left) */
    --p-moderate-violet: hsl(276, 55%, 52%);
    /* - Desaturated Dark Violet (chat on the right) */
    --p-desaturated-dark-violet: hsl(271, 15%, 43%);
    /* - Grayish Blue (placeholder text) */
    --p-grayish-blue: hsl(206, 6%, 79%);
    /* - Very Dark Desaturated Violet (main heading)  */
    --p-very-dark-desaturated-violet: hsl(271, 36%, 24%);
    /* - Dark Grayish Violet (paragraph) */
    --p-dark-grayish-violet: hsl(270, 7%, 64%);

    /* #### Gradients */

    /* These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient: */

    /* - Light Magenta */
    --p-light-magenta: hsl(293, 100%, 63%);
    /* - Light Violet */
    --p-light-violet: hsl(264, 100%, 61%);

    /* ### Secondary */

    /* - White: hsl(0, 0%, 100%) */
    /* - Light Grayish Violet (app background) */
    --s-light-greyish-violet: hsl(270, 20%, 96%);
    /* - Very Dark Desaturated Violet (submit button background) */
    --s-very-dark-desaturated-violet: hsl(271, 36%, 24%);
    /* - Very Light Magenta (radio button outline) */
    --s-very-light-magenta: hsl(289, 100%, 72%);
}

* {
    box-sizing: border-box;
}
html {
    position: relative;
    overflow-x: hidden;
}
body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    background-color: hsl(270, 20%, 96%);
}

img {
    width: 100%;
}

/* Phone Mockup */
.mobile-preview {
    --scale: 0.65;
    --width: calc(375px * var(--scale));
    --height: calc(761px * var(--scale));
    --chat-header-height: calc(var(--height) / 8.458);
    --border-radius-main: calc(1.6rem * var(--scale));
    width: var(--width);
    height: var(--height);
    background-color: white;
    margin: 2rem auto 5rem;
    --main-padding: calc(var(--height) / 50.75);
    padding: var(--main-padding);
    --chat-window-height: calc(
        var(--height) - (2 * var(--main-padding) + var(--chat-header-height))
    );
    border-radius: calc(var(--scale) * 2rem);
    box-shadow: 0px 18px 26px -10px rgba(196, 192, 196, 1);
}

.chat-header {
    background: linear-gradient(
        to right,
        var(--p-light-violet),
        var(--p-light-magenta)
    );
    height: var(--chat-header-height);
    padding: calc(2.4rem * var(--scale)) calc(1rem * var(--scale))
        calc(1rem * var(--scale));
    color: var(--s-light-greyish-violet);
    border-top-left-radius: var(--border-radius-main);
    border-top-right-radius: var(--border-radius-main);
    border-bottom-left-radius: calc(0.5rem * var(--scale));
    border-bottom-right-radius: calc(0.5rem * var(--scale));
    position: relative;
}

.profile-img {
    display: inline-block;
    width: calc(40px * var(--scale));
    height: calc(40px * var(--scale));
    margin-right: calc(7px * var(--scale));
    vertical-align: sub;
}
.profile-img img {
    border-radius: 50%;
    border: 1px solid #f4f4f4;
}

.profile,
.back-btn,
.more-btn,
.select-radio-btn {
    display: inline-block;
}

.back-btn {
    vertical-align: calc(0.6rem * var(--scale));
    font-size: calc(1.2rem * var(--scale));
    color: white;
    margin-right: calc(7px * var(--scale));
}

.profile-name {
    font-size: calc(1rem * var(--scale));
    font-weight: 500;
    color: hsl(289, 90%, 92%);
    margin-bottom: calc(0.2rem * var(--scale));
}

.profile-status {
    font-size: calc(12px * var(--scale));
    font-weight: 400;
    color: var(--p-pale-violet);
}

.chat-header::before {
    display: block;
    content: "";
    width: calc(11.25rem * var(--scale));
    height: calc(1.7rem * var(--scale));
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-bottom-left-radius: calc(1.4rem * var(--scale));
    border-bottom-right-radius: calc(1.4rem * var(--scale));
}

.more-btn {
    font-size: calc(1.4rem * var(--scale));
    float: right;
    margin-top: calc(5px * var(--scale));
}
.screen {
    background-color: var(--s-light-greyish-violet);
    border-radius: var(--border-radius-main);
}
.chat-window {
    height: var(--chat-window-height);
    padding: calc(0.8rem * var(--scale));
    position: relative;
}

.chat-text,
.chat-price {
    display: inline-block;
    border-radius: calc(1rem * var(--scale));
    background-color: white;
    margin-bottom: calc(0.7rem * var(--scale));
    padding: calc(0.8rem * var(--scale));
    max-width: 68%;
    font-size: calc(14px * var(--scale));
    line-height: calc(1rem * var(--scale));
    text-align: left;
}

.chat-text-received,
.chat-price {
    margin-right: auto;
    color: var(--p-moderate-violet);
    background-color: hsl(270, 20%, 90%);
    border-bottom-left-radius: calc(0.3rem * var(--scale));
}
.sent {
    text-align: right;
}
.chat-text-sent {
    color: var(--p-desaturated-dark-violet);
    border-bottom-right-radius: calc(0.3rem * var(--scale));
}

.chat-price {
    color: white;
    background: linear-gradient(
        to left,
        var(--p-light-violet),
        var(--p-light-magenta)
    );
    padding: calc(1.2rem * var(--scale)) calc(1rem * var(--scale));
    width: 80%;
    height: calc(3.5rem * var(--scale));
}

.chat-price .price {
    float: right;
    font-size: calc(18px * var(--scale));
    font-weight: 700;
}

.quote-desc {
    color: hsl(289, 90%, 92%);
    vertical-align: top;
    font-size: calc(12px * var(--scale));
    font-weight: 500;
}
.select-radio-btn {
    background-color: rgba(0, 0, 0, 0%);
    border: 1px solid hsl(289, 94%, 79%);
    border-radius: 50%;
    width: calc(1rem * var(--scale));
    height: calc(1rem * var(--scale));
    margin-right: calc(5px * var(--scale));
}

.image-message {
    display: inline-block;
    max-width: 70%;
    margin-bottom: calc(0.7rem * var(--scale));
}
.image-message-sent {
    margin-left: auto;
    text-align: right;
}
.chat-image {
    display: inline-block;
    width: calc(60px * var(--scale));
    height: calc(60px * var(--scale));
}
.chat-image img {
    border-radius: calc(1rem * var(--scale));
}

.message-bar {
    position: absolute;
    bottom: calc(0.8rem * var(--scale));
    width: calc(317px * var(--scale));
}
input#message-to-send {
    width: 100%;
    height: calc(3.5rem * var(--scale));
    border: none;
    padding: calc(0.5rem * var(--scale)) calc(45px * var(--scale))
        calc(0.5rem * var(--scale)) calc(25px * var(--scale));
    border-radius: calc(2rem * var(--scale));
}

input#message-to-send::placeholder {
    color: var(--p-grayish-blue);
    font-family: inherit;
    font-size: calc(14px * var(--scale));
    vertical-align: middle;
}
.send-btn {
    position: absolute;
    top: calc(0.5rem * var(--scale));
    right: calc(0.5rem * var(--scale));
    width: calc(40px * var(--scale));
    height: calc(40px * var(--scale));
    border-radius: 50%;
    border: none;
    background-color: var(--s-very-dark-desaturated-violet);
    color: white;
    font-size: calc(1rem * var(--scale));
    font-weight: bolder;
}

/* Promo Text section */

.promo {
    width: 80%;
    /* max-width: 275px; */
    margin: 5rem auto;
    text-align: center;
    font-size: 14px;
}
.promo-title {
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--p-very-dark-desaturated-violet);
    margin-bottom: 1rem;
}

.promo-desc {
    color: var(--p-dark-grayish-violet);
    line-height: 29px;
    font-size: 17px;
}

/* Background Illustration */

.back-illust {
    width: 100%;
    /* max-width: 400px; */
    height: 100vh;
    background: linear-gradient(
        to bottom,
        var(--p-light-magenta),
        var(--p-light-violet)
    );
    border-bottom-left-radius: 43rem;
    border-bottom-right-radius: 43rem;
    position: fixed;
    top: -50vh;
    left: -50%;
    z-index: -1;
}

.back-illust-bottom {
    transform: rotateX(180deg);
    top: auto;
    left: auto;
    height: 50vh;
    bottom: 0;
    right: -54%;
    opacity: 4%;
    position: fixed;
}
