:root {
    /* ### Primary */

    /* #### Text  */
    /* - Pale Violet (sub-heading at the top of the app UI)  */
    --p-pale-violet: hsl(276, 100%, 81%);
    /* - Moderate Violet (chat on the left) */
    --p-moderate-violet: hsl(276, 55%, 52%);
    /* - Desaturated Dark Violet (chat on the right) */
    --p-desaturated-dark-violet: hsl(271, 15%, 43%);
    /* - Grayish Blue (placeholder text) */
    --p-grayish-blue: hsl(206, 6%, 79%);
    /* - Very Dark Desaturated Violet (main heading)  */
    --p-very-dark-desaturated-violet: hsl(271, 36%, 24%);
    /* - Dark Grayish Violet (paragraph) */
    --p-dark-grayish-violet: hsl(270, 7%, 64%);

    /* #### Gradients */

    /* These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient: */

    /* - Light Magenta */
    --p-light-magenta: hsl(293, 100%, 63%);
    /* - Light Violet */
    --p-light-violet: hsl(264, 100%, 61%);

    /* ### Secondary */

    /* - White: hsl(0, 0%, 100%) */
    /* - Light Grayish Violet (app background) */
    --s-light-greyish-violet: hsl(270, 20%, 96%);
    /* - Very Dark Desaturated Violet (submit button background) */
    --s-very-dark-desaturated-violet: hsl(271, 36%, 24%);
    /* - Very Light Magenta (radio button outline) */
    --s-very-light-magenta: hsl(289, 100%, 72%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    background-color: grey;
}

img {
    width: 100%;
}

.mobile-preview {
    width: 375px;
    height: 812px;
    background-color: white;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 2rem;
}

.chat-header {
    background: linear-gradient(
        to right,
        var(--p-light-violet),
        var(--p-light-magenta)
    );
    height: 6rem;
    padding: 2.4rem 1rem 1rem;
    color: var(--s-light-greyish-violet);
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    position: relative;
}

.profile-img {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 7px;
    vertical-align: sub;
}
.profile-img img {
    border-radius: 50%;
    border: 1px solid #f4f4f4;
}

.profile,
.back-btn,
.more-btn,
.select-radio-btn {
    display: inline-block;
}

.back-btn {
    vertical-align: 0.6rem;
    font-size: 1.2rem;
    color: white;
    margin-right: 7px;
}

.profile-name {
    font-weight: 500;
    color: hsl(289, 90%, 92%);
    margin-bottom: 0.2rem;
}

.profile-status {
    font-size: 12px;
    font-weight: 400;
    color: var(--p-pale-violet);
}

.chat-header::before {
    display: block;
    content: "";
    width: 180px;
    height: 1.7rem;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-bottom-left-radius: 1.4rem;
    border-bottom-right-radius: 1.4rem;
}

.more-btn {
    font-size: 1.4rem;
    float: right;
    margin-top: 5px;
}
.screen {
    background-color: var(--s-light-greyish-violet);
    border-bottom-left-radius: 1.6rem;
    border-bottom-right-radius: 1.6rem;
}
.chat-window {
    height: 684px;
    padding: 0.8rem;
    position: relative;
}

.chat-text,
.chat-price {
    display: inline-block;
    border-radius: 1rem;
    background-color: white;
    margin-bottom: 0.7rem;
    padding: 0.8rem;
    max-width: 68%;
    font-size: 14px;
    line-height: 1rem;
    text-align: left;
}

.chat-text-received,
.chat-price {
    margin-right: auto;
    color: var(--p-moderate-violet);
    background-color: hsl(270, 20%, 90%);
    border-bottom-left-radius: 0.3rem;
}
.sent {
    text-align: right;
}
.chat-text-sent {
    color: var(--p-desaturated-dark-violet);
    border-bottom-right-radius: 0.3rem;
}

.chat-price {
    color: white;
    background: linear-gradient(
        to left,
        var(--p-light-violet),
        var(--p-light-magenta)
    );
    padding: 1.2rem 1rem;
    width: 80%;
    height: 3.5rem;
}

.chat-price .price {
    float: right;
    font-size: 18px;
    font-weight: 700;
}

.quote-desc {
    color: hsl(289, 90%, 92%);
    vertical-align: top;
    font-size: 12px;
    font-weight: 500;
}
.select-radio-btn {
    background-color: rgba(0, 0, 0, 0%);
    border: 1px solid hsl(289, 94%, 79%);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.image-message {
    display: inline-block;
    max-width: 70%;
    margin-bottom: 0.7rem;
}
.image-message-sent {
    margin-left: auto;
    text-align: right;
}
.chat-image {
    display: inline-block;
    width: 60px;
    height: 60px;
}
.chat-image img {
    border-radius: 1rem;
}

.message-bar {
    position: absolute;
    bottom: 0.8rem;
    width: 317px;
}
input#message-to-send {
    width: 100%;
    height: 3.5rem;
    border: none;
    padding: 0.5rem 45px 0.5rem 25px;
    border-radius: 2rem;
}

input#message-to-send::placeholder {
    color: var(--p-grayish-blue);
    font-family: inherit;
    font-size: 14px;
}
.send-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--s-very-dark-desaturated-violet);
    color: white;
    font-size: 1rem;
    font-weight: bolder;
}
