:root {
    --primary: linear-gradient(
        to right,
        hsl(236, 72%, 79%),
        hsl(237, 63%, 64%)
    );
    --n-very-light-grayish-blue: hsl(240, 78%, 98%);
    --n-light-grayish-blue: hsl(234, 14%, 74%);
    --n-grayish-blue: hsl(233, 13%, 49%);
    --n-dark-grayish-blue: hsl(232, 13%, 33%);
}

* {
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    background-color: var(--n-very-light-grayish-blue);
}
