:root {
    --primary: linear-gradient(
        to right,
        hsl(236, 72%, 79%),
        hsl(237, 63%, 64%)
    );
    --n-very-light-grayish-blue: hsl(240, 78%, 98%);
    --n-light-grayish-blue: hsl(234, 14%, 74%);
    --n-grayish-blue: hsl(233, 13%, 49%);
    --n-dark-grayish-blue: hsl(232, 13%, 33%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    background-color: var(--n-very-light-grayish-blue);
    text-align: center;
    color: var(--n-grayish-blue);
    overflow-x: hidden;
}
.pattern {
    position: absolute;
    z-index: -1;
}

.pattern.top {
    width: 38%;
    top: 0;
    right: 0;
}

.pattern.bottom {
    display: none;
}

/* Container */

.container {
    width: 90%;
    margin: 4rem auto;
}

/* Main Header */
.main-header {
    margin-bottom: 4rem;
}
.main-title {
    letter-spacing: 1px;
    margin-bottom: 2rem;
}
.choice {
    color: var(--n-light-grayish-blue);
    display: inline-block;
    letter-spacing: 1px;
    vertical-align: 50%;
}
.toggle-label {
    display: inline-block;
    cursor: pointer;
}
.toggle-label input {
    width: 0;
    height: 0;
    opacity: 0%;
    position: absolute;
}
.toggle-label input:checked + .slider::before {
    transform: translateX(var(--slider-radius));
}
.toggle {
    --slider-radius: 22px;
    --slider-padding: 4px;
}
.slider {
    width: calc(2 * var(--slider-padding) + 2 * var(--slider-radius));
    height: calc(2 * var(--slider-padding) + var(--slider-radius));
    background: var(--primary);
    vertical-align: baseline;
    margin: 0 1rem;
    padding: var(--slider-padding);
    border-radius: 2rem;
}
.slider::before {
    content: "";
    display: block;
    width: var(--slider-radius);
    height: var(--slider-radius);
    background-color: var(--n-very-light-grayish-blue);
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 5px 1px hsla(237, 63%, 54%, 0.75);
    -moz-box-shadow: 0px 0px 5px 1px hsla(237, 63%, 54%, 0.75);
    box-shadow: 0px 0px 5px 1px hsla(237, 63%, 54%, 0.75);
    transition: transform 0.2s;
}

/* Cards */

.card {
    --price-color: var(--n-dark-grayish-blue);
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    max-width: 500px;
    margin: 0 auto 2.5rem;
}
.card.standout {
    color: var(--n-very-light-grayish-blue);
    background: var(--primary);
    --price-color: white;
}
.card.standout .learn-more-btn {
    color: hsl(237, 63%, 64%);
    background: var(--n-very-light-grayish-blue);
}
.card-title {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.monthly {
    display: none;
}
.price {
    padding-bottom: 2rem;
    font-size: 4rem;
    color: var(--price-color);
    border-bottom: 1px solid hsl(234, 14%, 84%);
}
.storage,
.users,
.limit {
    font-size: 1rem;
    padding: 1.2rem 0;
    border-bottom: 1px solid hsl(234, 14%, 84%);
}

.limit {
    margin-bottom: 2rem;
}

.learn-more-btn {
    display: block;
    text-decoration: none;
    color: var(--n-very-light-grayish-blue);
    background: var(--primary);
    padding: 1rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
@media (min-width: 955px) {
    .container {
        width: 100%;
    }
    .pattern.top {
        width: auto;
        top: 0;
        right: 0;
    }
    .pattern.bottom {
        display: block;
        bottom: -4rem;
        left: -6%;
    }
    .cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .card {
        --difference: 1.5rem;
        margin: var(--difference) 0;
    }
    .card.standout {
        margin: 0;
        padding: calc(var(--difference)+2rem) 2rem;
    }
}
