:root {
    --very-light-gray: hsl(0, 0%, 98%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --p-red: hsl(0, 78%, 62%);
    --p-cyan: hsl(180, 62%, 55%);
    --p-orange: hsl(34, 97%, 64%);
    --p-blue: hsl(212, 86%, 64%);
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--grayish-blue);
    background-color: var(--very-light-gray);
}

main {
    width: 80%;
    margin: auto;
}

/* Header */
header {
    text-align: center;
    padding: 2rem 0;
}
.header-title {
    color: var(--very-dark-blue);
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0;
}
.header-title span {
    font-weight: 600;
    display: block;
}

.header-desc {
    font-size: 0.9rem;
}

/* Cards -> Work Items */
.work-item {
    background-color: white;
    border-radius: 5px;
    padding: 2rem;
    margin: auto;
    margin-bottom: 2rem;
    -webkit-box-shadow: 0px 18px 26px -10px rgba(196, 192, 196, 1);
    -moz-box-shadow: 0px 18px 26px -10px rgba(196, 192, 196, 1);
    box-shadow: 0px 18px 26px -10px rgba(196, 192, 196, 1);
    position: relative;
    max-width: 450px;
}

.work-item-title {
    color: var(--very-dark-blue);
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}
.work-item .img-container {
    font-size: 0;
    margin-top: 2rem;
    text-align: right;
}
.work-item-desc {
    font-size: 0.8rem;
}
.work-item.supervisor {
    border-top: var(--p-cyan) 4px solid;
}
.work-item.team-builder {
    border-top: var(--p-red) 4px solid;
}
.work-item.karma {
    border-top: var(--p-orange) 4px solid;
}
.work-item.calculator {
    border-top: var(--p-blue) 4px solid;
}

@media (min-width: 800px) {
    /* Cards -> Work Items*/

    main {
        width: 90%;
    }

    /* Header */

    header {
        width: 50%;
        margin: auto;
    }

    /* Cards -> Work Items */
    .cards {
        display: grid;
        grid-template-areas:
            "supervisor team-builder calculator"
            "supervisor karma calculator";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1rem;
        align-items: center;
        justify-items: center;
    }

    .work-item {
        width: 100%;
        margin: 0;
        max-width: auto;
    }
    .work-item.supervisor {
        height: 50%;
        grid-area: supervisor;
        justify-self: right;
    }
    .work-item.team-builder {
        height: 100%;
        grid-area: team-builder;
    }
    .work-item.karma {
        height: 100%;
        grid-area: karma;
    }
    .work-item.calculator {
        height: 50%;
        grid-area: calculator;
        justify-self: left;
    }
}

@media (min-width: 1000px) {
    main {
        width: 80%;
    }
    .cards {
        grid-gap: 2rem;
    }
}
