@font-face {
    font-family: "cherry_swashbold";
    src: url("./fonts/cherryswash-bold-webfont.woff2") format("woff2"),
        url("./fonts/cherryswash-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "cherry_swashregular";
    src: url("./fonts/cherryswash-regular-webfont.woff2") format("woff2"),
        url("./fonts/cherryswash-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "cherry_swashbold", "Trebuchet MS", "Lucida Sans Unicode",
        "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    background: url(./img/page-bg.png);
    color: white;
}

h1 {
    font-size: 7rem;
    margin-top: 35vh;
    text-align: center;
    background: url(./img/text-bg.png);
    background-repeat: repeat-x;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation-name: christmas;
    animation-duration: 140s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes christmas {
    0% {
        background-position-x: 0%;
    }
    50% {
        background-position-x: 100%;
    }
    100% {
        background-position-x: 200%;
    }
}
