body {
    margin: 0;
    font-family: "Amatic SC", cursive;
    text-align: center;
    color: white;
    font-size: 3rem;
}

.panel1 {
    background-image: url(./img/image1.jpeg);
}
.panel2 {
    background-image: url(./img/image2.jpg);
}
.panel3 {
    background-image: url(./img/image3.jpeg);
}
.panel4 {
    background-image: url(./img/image4.jpeg);
}
.panel5 {
    background-image: url(./img/image5.jpeg);
}

.panel {
    background-position: center;
}

.panels {
    display: flex;
    height: 100vh;
}

.panel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    flex-basis: 20%;
}

.textbox {
    width: 100%;
    text-shadow: 2px 2px 4px black;
    /* visibility: hidden;
    display: none; */
}

.second {
    /* display: block;
    visibility: visible; */
    font-size: 5rem;
    cursor: pointer;
}
