body {
    margin: 0;
    font-family: "Amatic SC", cursive;
    text-align: center;
    color: white;
    font-size: 2rem;
}

.panel1 {
    background-image: url(./img/image1.jpeg);
}
.panel2 {
    background-image: url(./img/image2.jpg);
}
.panel3 {
    background-image: url(./img/image3.jpeg);
}
.panel4 {
    background-image: url(./img/image4.jpeg);
}
.panel5 {
    background-image: url(./img/image5.jpeg);
}

.panel {
    background-position: center;
}

.panels {
    display: flex;
    height: 100vh;
}

.panel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    flex: 1;
    transition: flex 0.5s ease-in;
}

.textbox {
    width: 100%;
    text-shadow: 2px 2px 4px black;
    /* border: 1px solid red; */
    transform: translateY(0vh);
    transition: font-size 0.6s ease-out, transform 0.2s ease-out;
}

.panel div:nth-child(2) {
    cursor: pointer;
    position: relative;
    z-index: 999;
}
.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 998;
}

.open {
    flex: 5;
}
.open div:nth-child(2) {
    font-size: 7rem;
}

.opened div:first-of-type {
    transform: translateY(-35vh);
}

.opened div:last-of-type {
    transform: translateY(35vh);
}
