* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.add-course-form label {
    display: block;
    padding: 1rem;
}
.add-course-btn,
.clear-btn {
    margin-left: 1rem;
    padding: 0.4rem;
}

.course-list {
    padding: 0;
    list-style-type: none;
}

.course,
.course-header {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-around; */
}

.course span,
.header-item {
    /* flex-basis: 23%; */
    border: 1px solid black;
    border-right: none;

    padding: 1rem;
    min-width: 300px;
}
.course span:first-of-type,
.header-id {
    min-width: 100px;
}

.course span:last-of-type,
.header-category {
    border-right: 1px solid black;
}

.course .save-btn {
    font-size: 0.5rem;
}
.course .remove-btn,
.course .edit-btn,
.course .save-btn {
    cursor: pointer;
    border-top: 1px solid black;
    min-width: 50px;
}
.course-header {
    font-size: 1.5rem;
    font-weight: bold;
}
.course span {
    border-top: none;
}

#popup {
    position: absolute;
    top: 0;
    left: -9999px;
}
.course-window {
    position: absolute;
    top: 25vh;
    left: 25vw;
    width: 50vw;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    padding: 3rem;
}
.overlay {
    content: "";
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: -9999px;
    background-color: black;
    opacity: 0.3;
    z-index: 2;
}
.close-btn {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 3rem;
    line-height: 28px;
    cursor: pointer;
    z-index: 1000;
    text-decoration: none;
}

.header-item {
    background-color: lightgrey;
}

/* .header-item:target {
    background-color: rgb(192, 190, 190);
} */
