* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
body, html {
    height: 100%;
}
article {
    display: none;
    height: 100%;
}
article:nth-child(1){
    display: initial;
}

/* Buttons */
.slider-btns {
    width: 82px;
    height: 42px;
    /* border: 1px solid #444; */
    border-radius: 2rem;
    background-color: white;
    position: absolute;
    bottom:-18px;
    left: calc(50% - 41px);
    font-size:0;

}
.left-btn, .right-btn {
    width: 50%;
    height: 100%;
    border: none;
    padding: 0;
  
}
.left-btn {
    background: url(./images/icon-prev.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.right-btn {
    background: url(./images/icon-next.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/* Picture */
section.picture{
    width: 80%;
    height: 500px;
    background: url(./images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;    
    padding: 5%;
    margin: auto;
}

section.picture .img-div{
    position: relative;
    width:90%;
    margin: 15% auto;

}
section.picture img {
    width: 100%;
    object-fit: contain;
    border-radius: 0.8rem;
}